{% extends "layout.html" %}
{% block head %}
<title>New posts</title>
{% endblock head %}
{% block body %}
<a id="home" href="/index">Home</a>
<form style="margin:5% 0" action="/new_post" method="post">
    <label id="title_label">Title:</label>
    <br>
    <input type="text" required="required" name="title_input"><br>

    <label id="content_id">Content:</label>
    <br>
    <textarea required="required" name="content_textarea" cols="20" rows="10"></textarea><br>

    <button type="submit">Post</button>
</form>
{% endblock body %}